<h1>Gewinner</h1>

<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Linie</th>
      <th>Schütze</th>
      <th>Wert</th>
      <th>Zeitpunkt</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eventsall.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.shooting_range %></td>
        <td><%= event.marksmen %></td>
        <td><%= event.value %></td>
        <td><%= event.time_date.strftime("%d.%m.%Y %H:%M Uhr") %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


