<p id="notice"><%= notice %></p>

<h1>Fehlerhafte Einträge:</h1>

<div class="callout alert1">
  <h5>Achtung:</h5>
  <p>Bitte passen sie die Schützen ID der fehlerhaften Einträge an, damit sie die Auswertung vortführen können!</p>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Linie</th>
      <th>Schütze</th>
      <th></th>
      <th>Wert</th>
      <th>Zeitpunkt</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.shooting_range %></td>
        <td style="">
          <%= form_for(event) do |f| %>
            <%= f.number_field :marksmen %>
        </td>
        <td style="">
            <%= f.submit 'Update', class: "button tiny success btn_form"%>
          <% end %>
        </td>
        <td><%= event.value %></td>
        <td><%= event.time_date.strftime("%d.%m.%Y %H:%M:%S Uhr") %></td>
        <td>
          <%= link_to 'Details', event, class: "button small warning" %>
          <%= link_to 'Edit', edit_event_path(event), class: "button small secondary" %>
          <%= link_to 'Löschen', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "button small alert" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
