<p id="notice"><%= notice %></p>

<h1>Einträge:</h1>
<br>
<br>

</div>
<div class="row">
  <div class="small-2 large-4 columns"><%= button_to 'Neuer Eintrag', new_event_path, method: :get, class: "button primary" %></div>
  <div class="small-4 large-4 columns"><%= button_to 'DB überprüfen', auswertung_path, method: :get, class: "button success" %></div>
  <div class="small-6 large-4 columns"></div>
</div>
<br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Linie</th>
      <th>Schütze</th>
      <th>Wert</th>
      <th>Zeitpunkt</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.shooting_range %></td>
        <td><%= event.marksmen %></td>
        <td><%= event.value %></td>
        <td><%= event.time_date.strftime("%d.%m.%Y %H:%M Uhr") %></td>
        <td>
          <%= link_to 'Edit', edit_event_path(event), class: "button small secondary" %>
          <%= link_to 'Löschen', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "button small alert" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
