<p id="notice"><%= notice %></p>

<h1>Fehlerhafte Einträge:</h1>

<div class="callout alert1">
  <h5>Achtung:</h5>
  <p>Bitte passen sie die Schützen ID der fehlerhaften Einträge an, damit sie die Auswertung vortführen können!</p>
</div>

<div class="row">
  <div class="large-3 columns">
  </div>
  <div class="large-6 columns">
    <div class="digg_pagination margin_allgemein">
      <%= will_paginate @marksmen, :container => false %>
    </div>
  </div>
  <div class="large-3 columns">

  </div>
</div>
<br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Linie</th>
      <th>Schütze</th>
      <th></th>
      <th>Wert</th>
      <th>Teiler</th>
      <th>Zeitpunkt</th>
      <th><%= link_to 'Alle Löschen', events_loeschen_path, method: :delete, data: { confirm: 'Willst du alle fehlerhaften Einträge löschen?' }, class: "button alert" %></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.shooting_range %></td>
        <td style="">
          <%= form_for(event) do |f| %>
            <%= f.number_field :marksmen %>
        </td>
        <td style="">
            <%= f.submit 'Update', class: "button tiny success btn_form"%>
          <% end %>
        </td>
        <td><%= event.value %></td>
        <td><%= event.unknown7 %></td>
        <td><%= event.time_date.strftime("%d.%m.%Y %H:%M:%S Uhr") %></td>
        <td>
          <%= link_to 'Details', event, class: "button small warning" %>
          <%= link_to 'Edit', edit_event_path(event), class: "button small secondary" %>
          <%= link_to 'Löschen', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "button small alert" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @marksmen %>
  </div>
</div>