<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Shooting range:</strong>
  <%= @event.shooting_range %>
</p>

<p>
  <strong>Marksmen:</strong>
  <%= @event.marksmen %>
</p>

<p>
  <strong>Value:</strong>
  <%= @event.value %>
</p>

<p>
  <strong>Teiler:</strong>
  <%= @event.unknown7 %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time_date %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Zurück', events_path %>

