<p id="notice"><%= notice %></p>

<%= link_to 'Mitglied hinzufügen', group_addnew_path(@group.id), class: "button small primary" %>
<h4>
  <%= @group.name %>
</h4>

<p>
  <strong>Note:</strong>
  <%= @group.note %>
</p>

<p>
  <h4>Mitglieder:</h4>
  	<ul>
	  <% @list.each do |c| %>
	  	<li><%= "#{c.firstname} #{c.surname}" %></li>
	  <% end %>	
	</ul>
</p>


<%= link_to 'Edit', edit_group_path(@group), class: "button small secondary" %> |
<%= link_to 'Zurück', groups_path, class: "button small warning" %>
