<thead>
<div style="width: 800px;">
  <% ranking = 1 %>
  <% @endsummen.each do |k, v| %>
    <% mark = @marksman.find{|s| s.startnr == k} %>
    <h3 class="kaulichgreen"><%= "Platz ##{ranking}" %></h3>
    <br>
    <table>
      <tr>
        <th>Nr.</th>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Wert 1</th>
        <th>Wert 2</th>
        <th>Wert 3</th>
        <th>Teiler</th>
        <th>Gesamt</th>
      </tr>
</thead>

<tbody>
      <tr class="kaulichleft">
        <td><%= mark.startnr %></td>
        <td><%= mark.firstname %></td>
        <td><%= mark.surname %></td>
        <% v[2].each do |werte| %>
          <td><%= werte.value.to_i %></td>
        <% end %>
        <td><%= v[1] if v[1] > 0.000001 %></td>
        <td><%= v[0] %></td>
      </tr>
    </table>
    <% ranking = ranking+1 %>
    <br>
  <% end %>
</div>
</tbody>