<%= form_for(marksman) do |f| %>
  <% if marksman.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(marksman.errors.count, "error") %> prohibited this marksman from being saved:</h2>

      <ul>
      <% marksman.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="medium-4 columns">
    <%= f.label :startnr %>
    <%= f.number_field :startnr %>
  </div>

  <div class="medium-12 columns">
  </div>

  <div class="medium-4 columns">
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>
  </div>

  <div class="medium-12 columns">
  </div>

  <div class="medium-4 columns">
    <%= f.label :surname %>
    <%= f.text_field :surname %>
  </div>

  <div class="medium-12 columns">
  </div>

  <div class="medium-4 columns">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="actions medium-12 columns">
    <%= f.submit 'Abschicken', class: "button primary" %>
  </div>
</div>
<% end %>
