<%= form_for(marksman) do |f| %>
  <% if marksman.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(marksman.errors.count, "error") %> prohibited this marksman from being saved:</h2>

      <ul>
      <% marksman.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :startnr %>
    <%= f.number_field :startnr %>
  </div>

  <div class="field">
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>
  </div>

  <div class="field">
    <%= f.label :surname %>
    <%= f.text_field :surname %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
