<div class="row">
  <div class="large-3 columns">
    <%= button_to 'Neuer Schütze', new_marksman_path, method: :get, class: "button primary" %>
  </div>
  <div class="large-6 columns">
    <div class="digg_pagination margin_allgemein">
      <%= will_paginate @marksmen, :container => false %>
    </div>
  </div>
  <div class="large-3 columns">

  </div>
</div>

<br>
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table>
  <thead>
    <tr>
      <th><%= sortable "startnr", "Schützennummer" %></th>
      <th><%= sortable "firstname", "Vorname" %></th>
      <th><%= sortable "surname", "Nachname" %></th>
      <th><%= sortable "location", "Ortschaft" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @marksmen.each do |marksman| %>
      <tr>
        <td><%= marksman.startnr %></td>
        <td><%= marksman.firstname %></td>
        <td><%= marksman.surname %></td>
        <td><%= marksman.location %></td>
        <td>
          <%= link_to 'Details', marksman, class: "button small warning" %>
          <%= link_to 'Edit', edit_marksman_path(marksman), class: "button small secondary" %>
          <%= link_to 'Löschen', marksman, method: :delete, data: { confirm: 'Are you sure?' }, class: "button small alert" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @marksmen %>
  </div>
</div>