<p id="notice"><%= notice %></p>

<h1>Schützentabelle</h1>
<br><br>

<%= form_tag marksmen_path, :method => 'get', :id => "marks_search" do %>

  <div class="input-group anzeige">
  <span class="input-group-label">Suche:</span>
  <%= text_field_tag :search, params[:search], :class => "input-group-field" %>
  <div class="input-group-button">
    <%= submit_tag "Search", :name => nil, :class => "button invisible" %>
  </div>
</div>
  <div id="marks"><%= render 'marks' %></div>
<% end %>
<br>
</div>
