<p id="notice"><%= notice %></p>

<p>
  <strong>Startnr:</strong>
  <%= @marksman.startnr %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @marksman.firstname %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @marksman.surname %>
</p>

<p>
  <strong>Location:</strong>
  <%= @marksman.location %>
</p>

<%= link_to 'Edit', edit_marksman_path(@marksman), class: "button small secondary" %> 
<%= link_to 'Back', marksmen_path, class: "button small warning" %>
