<p id="notice"><%= notice %></p>

<p>
  <strong>Schützennummer:</strong>
  <%= @marksman.startnr %>
</p>

<p>
  <strong>Vorname:</strong>
  <%= @marksman.firstname %>
</p>

<p>
  <strong>Nachname:</strong>
  <%= @marksman.surname %>
</p>

<p>
  <strong>Ortschaft:</strong>
  <%= @marksman.location %>
</p>

<p>
  <h4>Gruppenangehörigkeit:</h4>
  	<ul>
	  <% @list.each do |c| %>
	  	<li><%= "#{c.name}" %></li>
	  <% end %>	
	</ul>
</p>

<%= link_to 'Edit', edit_marksman_path(@marksman), class: "button small secondary" %> 
<%= link_to 'Zurück', marksmen_path, class: "button small warning" %>
